<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<html>
<style type="text/css">
	.About{
		text-align: center;
		font-family:"Oswald";
	}
	.titulo{
		text-align: center;
		font-family: 'Oswald';
	}
</style>
<head>
	<title>About</title>
</head>
<body>
 <h2 class="titulo">Bienvenido a Isent, fui creado para tu comodidad </h2>
 <p class="About">Dentro de nuetro codigo hacen parte las siguientes paginas stackOverflow, W3shool,el diseño del login y create user fue inspirado en Codepen, las fuentes sacadas de Google Fonts  y el Bar de la pagina index tomado de PrettyPrinted, algunas de las partes de nuestro codigo fueron tomadas de alli, cabe resaltar que no fue en su totalidad y que fueron modificadas segun los requrimientos de Isent. </p><br><p>Isent fue creada por Juan Esteban Hoyos Caicedo estudiante de Ingenieria de sistemas de la universidad Javeriana cali.</p>
</body>
</html>