<!DOCTYPE html>
<style type="text/css">
  form.addcontact{

    position: fixed;
    text-align: center;
    
  }
  
  .contact{
    text-align: center;
    font-family:"Roboto";
    position: center;


  }
  .enviar{
    text-align: center;

  }
</style>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>addcontact</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form method="POST" class="addcontact">
     <input class="contact" type="text" name="contact" placeholder="nombre del usuario">
      <input class="enviar" type="submit" value="enviar invitacion" >
    </form>
  </body>
</html>